{% extends 'boards/base.html' %}
{% block breadcrumb %}


    <li class="breadcrumb-item"><a href = "{% url 'boards:home' %}">Boards</a></li>
    <li class="breadcrumb-item"><a href = "{% url 'boards:topics' post.topic.board.id %}"> {{ post.topic.board.Name }} </a></li>
    <li class="breadcrumb-item"><a href = "{% url 'boards:topic_posts' post.topic.board.id post.topic.pk %}">{{ post.topic.subject }}</a></li>
    <li class="breadcrumb-item active">Edit post </li>

{% endblock breadcrumb %}

{% block stylesheet %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">

{% endblock stylesheet %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
      <script>
    var simplemde = new SimpleMDE();
  </script>
{% endblock javascript %}

{% block content %}
    <form method = "post" novalidate>

    {% csrf_token %}

        {% include 'boards/includes/form.html' %}

        <button type="submit" class="btn btn-success">Save Changes</button>
        <a href="{% url 'boards:topic_posts' post.topic.board.id post.topic.pk %}" class="btn btn-outline-secondary" role="button" >Cancel</a>
    </form>


{% endblock content %}