{% extends 'accounts/account_base.html' %}

{% load static %}

{% block content %}
     <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">

                <div class="card">
                    <h3 class="card-title text-center">Sign Up</h3>
                    <div class="'card-body">
                            <form method = "post" novalidate style="padding:30px;">

    {% csrf_token %}

    {% include 'boards/includes/form.html' %}

     <button type="submit" class="btn btn-block btn-primary">Create account</button>
    </form>


                    </div>

                    <div class="card-footer text-muted text-center">Already have an account? <a href="{% url 'boards:login' %}">Sign In</a></div>

                </div>


            </div>



        </div>


{% endblock content %}


