{% extends 'boards/base.html' %}
{% load humanize %}
{% block title %}

{{ boards.Name }}-{{ block.super }}

{% endblock %}


{% block breadcrumb %}
    <a href = "{% url 'boards:home' %}">Board</a>  /  {{ boards.Name }}

{% endblock %}

{% block content %}

    <div class = "mb-4">
    <a href="{% url 'boards:new_topic' boards.id %}" class="btn btn-primary">New topic</a>
    </div>

 <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Topic</th>
        <th>Starter</th>
        <th>Replies</th>
        <th>Views</th>
        <th>Last Update</th>
      </tr>
    </thead>
    <tbody>
      {% for topic in topics %}
        <tr>
            <td><a href="{% url 'boards:topic_posts' boards.pk topic.pk %}">{{ topic.subject }}</a>
                <small class="text-muted d-block">

                    {% for i in topic.get_page_range %}

                        <a href = "{% url 'boards:topic_posts' topic.board.pk topic.pk %}?page={{ i }}">{{ i }}</a>

                    {% endfor %}

                    {% if topic.has_many_pages %}

                        ...<a href="{% url 'boards:topic_posts' topic.board.pk topic.pk %}?page={{ topic.get_page_count }}">Last Page</a>

                {% endif %}


                </small>


            </td>
          <td>{{ topic.starter.username }}</td>
          <td>{{ topic.replies }}</td>
          <td>{{ topic.views }}</td>
          <td>{{ topic.last_updated|naturaltime }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

   {% if topics.has_other_pages %}
    <nav aria-label="Topics Pagination example">


        <ul class="pagination">

   {% if topics.has_previous %}
       <li class="page-item"><a href="?page={{ topics.previous_page_number }}" class="page-link">Previous</a></li>

       {% else %}

       <li class="page-item disabled"><span class="page-link disabled">Previous</span></li>
       {% endif %}

        {% for pagenumber in topics.paginator.page_range %}

            {% if pagenumber == topics.number %}
            <li class="page-item active"><a href = "?page={{ pagenumber }}" class="page-link">{{ pagenumber }}</a></li>
            {% else %}
                 <li class="page-item"><a href = "?page={{ pagenumber }}" class="page-link">{{ pagenumber }}</a></li>
            {% endif %}
            {% endfor %}

        {% if topics.has_next %}

            <li class="page-item"><a href="?page={{ topics.next_page_number }}" class="page-link">Next</a></li>

        {% else %}
            <li class="page-item disabled"><span class="page-link">Next</span></li>

        {% endif %}



    </ul>

    </nav>
    {% endif %}

  {% include 'boards/includes/pagination.html' %}

{% endblock %}


